@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

.main-container{
    max-width: 1440px;
    height: 30px;
    margin: 0 auto;
    background-color: aquamarine;
}